@if (currentlySelectedTeam) {
<button mat-fab class="fab-button" [matMenuTriggerFor]="menu">
  <mat-icon>settings</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    [matMenuTriggerFor]="people"
    disabled
    matTooltip="Következő verzióban! :("
    matTooltipPosition="above"
  >
    <mat-icon>person</mat-icon>
    <span>Hozzáférők</span>
  </button>
  <button
    mat-menu-item
    [routerLink]="[
      'team',
      currentlySelectedTeam.id,
      'create-ticket',
      currentlySelectedTeam.boards[0]
    ]"
  >
    <mat-icon>add_task</mat-icon>
    <span>Feladat felvétele</span>
  </button>
  <button mat-menu-item (click)="confirmDeleteTeam()">
    <mat-icon color="warn">delete</mat-icon>
    <span>Csapat törlése</span>
  </button>
</mat-menu>

<mat-menu #people="matMenu">
  <button mat-menu-item>
    <mat-icon>person_add</mat-icon>
    <span>Hozzáadás</span>
  </button>
  <button mat-menu-item>
    <mat-icon>person_remove</mat-icon>
    <span>Törlés</span>
  </button>
</mat-menu>
}

<mat-sidenav-container autosize>
  <mat-sidenav
    #snav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches"
    [opened]="!mobileQuery.matches"
  >
    <app-menu
      [loadingTeams]="teams === null"
      [teams]="teams || []"
      [teamCount]="user?.teams?.length || 1"
      (teamCreated)="onTeamCreated()"
    />
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="snav.toggle()"
        *ngIf="mobileQuery.matches"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ title }}</span>
    </mat-toolbar>
    @if (!currentlySelectedTeam) {
    <div class="default-wrapper">
      <app-default />
    </div>
    }
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
