<form [formGroup]="createTicketForm" (submit)="createTicket()">
  <mat-form-field>
    <input matInput placeholder="Cím" formControlName="title" name="title" />
  </mat-form-field>

  <mat-form-field>
    <textarea
      matInput
      placeholder="Leírás"
      formControlName="description"
      name="description"
      rows="7"
    ></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Állapot</mat-label>
    <mat-select formControlName="status" name="status">
        @for (status of board?.statuses; track status.id) {
            <mat-option [value]="status">{{ status.name }}</mat-option>
        }
    </mat-select>
  </mat-form-field>

  <mat-form-field >
    <mat-label>Felelős</mat-label>
    <mat-select formControlName="assignee" name="assignee">
        @for (user of members; track user.id) {
            <mat-option [value]="user.id">{{ user.username }}</mat-option>
        }
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="accent" (click)="createTicket()">
    Létrehozás
  </button>
</form>
